body {
    
    background: url('background_image.jpg');
    background-position: right
}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

h1 {
    font-family: 'Nosifer', cursive;
    font-size: 32px;
    color: green;
    text-shadow: 2px 4px burlywood;
    width: 75%;
    margin: auto;
    text-align: center;
}

h1 span {
    color: red;
}

h2 {
    margin: .5em;
    color: rgb(166, 102, 103);
    font-size: 1.7em;
}

section h2 {
    color: rgb(255, 255, 255);
}

h2:first-of-type {
    margin-top: 0.5em;
}

img {
    display: block;
    width: 9%;
    height: 3%;
    margin-left: 4em;
}

form {
    color: green;
    font-weight: bold;
}

input[type='submit'] {
    background: ;
    color: rgb(129, 8, 8);
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}

main {
  margin-top: 2em;
  height: 95vh;
  text-align: center;
}

button {
    color: red;
    margin-bottom: 12px;
}

em {
    color: white;
}

p {
    color: brown;
}

@media only screen and (max-width: 760px) {
    h1 {
        font-size: 28px;
    }

    h2 {
        color: white;
    }

    img {
        margin-left: 0;
    }
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 23px;
    }

   

    label, input {
        display: block;
        margin: auto;
    }

    input, input[type=number]  {
        width: 12em;
    }

     label{
         margin-top: 16px;
     }

     input[type=submit] {
         margin-top: 16px;
         border: 2px solid green;
     }
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 26px;
    }
    h1 span {
        display: block;
    }
}
