body {
    background: url('background_image.jpg') repeat;
    background-position: right;
}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

h1 {
    font-family: 'Nosifer', cursive;
    font-size: 37.5px;
    color: green;
    text-shadow: 2px 4px burlywood;
    width: 75%;
    margin: auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.17);
}

h1 span {
    color: red;
}

h2 {
    margin: .5em;
    color: rgb(0, 0, 0);
    font-size: 1.7em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

img {
    display: block;
    width: 9%;
    height: 3%;
    margin-left: 4em;
}

form {
    color: black;
    font-weight: bold;
}

input[type='submit'] {
    background: whit;
    color: rgb(129, 8, 8);
}

table,
tr,
td {
    border: 1.87px solid rgba(0, 0, 0, 0.548);
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.349);
    box-shadow: 0.6px 3.8px rgba(128, 128, 128, 0.637);
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 5%;
}

main {
    margin-top: 2em;
    height: 95vh;
    text-align: center;
}

input[type="submit"],
button {
    border-radius: 8px;
    padding: 5px;
}

button {
    background-color: red;
    color: white;
    margin-bottom: 12px;
}

input[type="submit"]:hover {
    background-color: green;
    color: ivory;
    transition: all ease-out 1s;
}

button:hover {
    transform: scale(1.1);
    transition: all ease-in-out 1s;
}

em {
    color: white;
}

p {
    color: black;
}

@media only screen and (max-width: 760px) {
    h1 {
        font-size: 28px;
    }
    h2 {
        color: white;
    }
    img {
        margin-left: 0;
    }
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 23px;
    }
    label,
    input {
        display: block;
        margin: auto;
    }
    input,
    input[type=number] {
        width: 12em;
    }
    label {
        margin-top: 16px;
    }
    input[type=submit] {
        margin-top: 12px;
        border: 1px solid green;
    }
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 26px;
    }
    h1 span {
        display: block;
    }
}

@media only screen and (min-width: 1024px) {
    h1 {
        font-size: 48.5px;
    }
}
